/* шрифты */
@font-face {
  font-family: "ManropeBold";
  src: url(../fonts/Manrope-Bold.ttf);
}

@font-face {
  font-family: "Manrope";
  src: url(../fonts/Manrope-Regular.ttf);
}

@font-face {
  font-family: "ManropeLight";
  src: url(../fonts/Manrope-Light.ttf);
}

/* сброс базовых стилей */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  outline: none;
}

/* общие стили */

body {
  background: #040C18;
  ;
  padding: 0 2rem;
  overflow: auto;
}

body.oh {
  overflow: hidden;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

a,
button {
  cursor: pointer;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

a:hover,
button:hover {
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

button:hover {
  background-color: #ae67fa;
}

ul li {
  list-style-type: none;
}

h1 {
  font-size: 60px;
  color: #ae67fa;
}

h2 {
  font-size: 34px;
}

h1,
h2 {
  font-family: "ManropeBold", sans-serif;
  background: linear-gradient(90deg, #ae67fa 1.84%, #f49867 102.67%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3 {
  font-family: "ManropeBold", sans-serif;
  color: #fff;
  font-size: 24px;
}

p {
  font-size: 16px;
  color: #fff;
}

.btn {
  display: flex;
  padding: 1rem 2rem;
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.primary-btn {
  background-color: #ff4820;
}

.section {
  max-width: 1169px;
  width: 100%;
}

.lined_header {
  background: url("../assets/img/gradient_line.svg") no-repeat 0 0 transparent;
  padding: 1rem 0;
}

/* голова */

.header {
  display: flex;
  max-width: 100vh;
  margin: 0 auto;
  width: 100%;
  padding: 2rem 0;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  background: #040C18;
  ;
}

.header .header__logo .logo__link {
  display: flex;
  align-items: center;
}

.header .header__menu .menu {
  display: flex;
  column-gap: 2rem;
}

/* менюшка с бургера */

.header .header__right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 2rem;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.header .header__right.hidden {
  opacity: 0;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  visibility: hidden;
}
.header .header__right .menu__close {
  width: 38px;
  height: 38px;
}
.header .header__right .menu__close.hidden {
  display: none;
}

.header .header__menu .menu .menu__item a {
  color: #fff;
  border-bottom: 1px solid transparent;
}

.header .header__menu .menu .menu__item:hover a {
  border-bottom-color: #fff;
}

.header .header__menu .menu .menu__item.active a {
  color: #f49867;
  border-bottom-color: #f49867;
}

.header .cta_buttons {
  display: flex;
  column-gap: 1rem;
}

.header .header__burger_menu {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  cursor: pointer;
}
.header .header__burger_menu.hidden {
  display: none;
}
.header .header__burger_menu .burger_menu__line,
.header .header__right .menu__close .menu__line {
  width: 43px;
  height: 5px;
  border-radius: 2px;
  background: #fff;
}
.header .header__right .menu__close .menu__line:nth-child(1) {
  position: relative;
  top: 15px;
  right: 4px;
  transform: rotate(0.125turn);
  -webkit-transform: rotate(0.125turn);
  -moz-transform: rotate(0.125turn);
  -ms-transform: rotate(0.125turn);
  -o-transform: rotate(0.125turn);
}
.header .header__right .menu__close .menu__line:nth-child(2) {
  position: relative;
  top: 10px;
  right: 3px;
  transform: rotate(-0.125turn);
  -webkit-transform: rotate(-0.125turn);
  -moz-transform: rotate(-0.125turn);
  -ms-transform: rotate(-0.125turn);
  -o-transform: rotate(-0.125turn);
}

/* хиро секция */

.hero_section {
  display: flex;
  justify-content: space-between;
  column-gap: 1rem;
  min-height: 60vh;
  margin: 14rem 0 3rem;
}

.hero_section .hero_section__left {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 3rem;
  width: 75%;
}

.hero_section .hero_section__left .left__description {
  color: #81afdd;
}

.hero_section .hero_section__left .left__cta_buttons {
  display: flex;
  width: 100%;
}

.hero_section .hero_section__left .left__cta_buttons input[type="text"] {
  min-width: 250px;
  width: 70%;
  padding: 8px 32px;
  border-radius: 4px 0 0 4px;
  border: 1px solid #052d56;
  border-bottom: none;
  background-color: #052d56;
}

.hero_section .hero_section__left .left__cta_buttons .btn {
  border-radius: 0 4px 4px 0;
}

.hero_section .hero_section__left .left__social_approve{
  display: flex;
  color: #fff;
  align-items: center;
}

.hero_section .hero_section__left .left__social_approve span{
  padding: 17px;
  font-size: 12px;
}


.hero_section .hero_section__right {
  height: 100%;
}

.hero_section .hero_section__right img {
  width: 100%;
}

/* бренды  */

.brands_section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 6rem 0;
  column-gap: 3rem;
}

/* да я не знаю уже */

.what_is_chatgpt_section {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  margin: 6rem 0;
  row-gap: 7rem;
  background: url(../assets/img/what_is_gpt_3_bg.svg) no-repeat 0 0 / cover;
}

.what_is_chatgpt_section .what_is_chatgpt_section__top {
  display: flex;
}

.what_is_chatgpt_section .what_is_chatgpt_section__top .top__header {
  flex: 30%;
}

.what_is_chatgpt_section .what_is_chatgpt_section__top .top__content {
  flex: 65%;
  color: #81afdd;
  font-size: 14px;
}

.what_is_chatgpt_section .what_is_chatgpt_section__middle {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.what_is_chatgpt_section .what_is_chatgpt_section__middle .middle__header {
  width: 500px;
}

.what_is_chatgpt_section .what_is_chatgpt_section__middle a {
  color: #ff8a71;
  font-size: 16px;
  border-bottom: 1px solid transparent;
}

.what_is_chatgpt_section .what_is_chatgpt_section__middle a:hover {
  border-bottom: 1px solid #ff8a71;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.what_is_chatgpt_section .what_is_chatgpt_section__bottom {
  display: flex;
  justify-content: space-between;
  align-items: start;
  column-gap: 2rem;
}

.what_is_chatgpt_section .what_is_chatgpt_section__bottom .bottom__container {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.what_is_chatgpt_section
  .what_is_chatgpt_section__bottom
  .bottom__container
  .container__content {
  color: #81afdd;
  font-size: 14px;
  line-height: 1.8;
}

/* будущее */

.future_here {
  display: flex;
  column-gap: 6rem;
  margin: 6rem 0 2rem;
}

.future_here .future_here__left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 2rem;
  flex: 2;
}

.future_here .future_here__left .left__cta {
  color: #f49867;
  border-bottom: 1px solid transparent;
}

.future_here .future_here__left a:hover {
  border-bottom: 1px solid #f49867;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.future_here .future_here__right {
  flex: 3;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

.future_here .future_here__right .right__container {
  display: flex;
  justify-content: space-between;
}

.future_here .future_here__right .right__container .container__header {
  width: 35%;
}

.future_here .future_here__right .right__container .container__content {
  width: 55%;
  color: #81afdd;
}

/*dura */

.woman-vr {
  display: flex;
  column-gap: 6rem;
  margin: 6rem 0 2rem;
  padding-bottom: 10rem;
}

.woman-vr .woman-vr__left {
  height: 100%;
  width: 60%;
}

.woman-vr .woman-vr__left img {
  width: 100%;
}

.woman-vr .woman-vr__right {
  height: 100%;
  width: 40%;
  margin-top: 20rem;
}

.woman-vr .woman-vr__right .early_access_text {
  color: #71E5FF;
  margin-bottom: 2rem;
}

.woman-vr .woman-vr__right .bed_text {
  color: #81AFDD;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.woman-vr .woman-vr__right .request_early_access {
    color: #f49867;
    border-bottom: 1px solid transparent;
}
/*градиент и кнопка*/
.begin{
  display: flex;
  justify-content: space-between;
  width: 1170px;
  height: 172.65px;
  top: 3178px;
  left: 135px;
  gap: 0px;
  border-radius: 10.72px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
}

.begin .begin_left{
  width: 80%;
}

.begin .begin_left .text{
  padding-top: 3rem;
  padding-left: 3rem;
  font-size: 12px;
  color: #000;
}

.begin .begin_left .text2{
  font-size: 24px;
  font-weight: 800;
  color: #000;
  padding-left: 3rem;
}

.begin .begin_right{
  width: 20%;
  padding-left: 0.5rem;
  padding-top: 3.5rem;
} 

.begin .begin_right .button_begin{
  background-color: #000;
  color: #fff;
  width: 190px;
  height: 60px;
  border-radius:  40px;
  border: #000;
  
}

/* нет */

.footer {
  display: flex;
  width: 100%;
  height: 950px;
  background-color: #06182c;
  margin-top: 100px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5%;
  box-sizing: border-box;
}

.footer .footer_header {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.footer .header_text_box {
  display: flex;
  align-items: center;
  text-align: center;
  width: 821px;
  max-width: 821px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7%;
  margin-bottom: 20px;
  word-wrap: break-word; 
  word-break: break-word;
  white-space: normal; 
}

.footer .btn_last {
  display: flex;
  padding: 1rem 4rem;
  background-color: #031B34;
  color: #fff;
  border: none;
  font-size: 18px;
  border-radius: 0;
  border: 2px solid #ffffff;
  margin-top: 20px;
}

.btn_box {
  margin-top: -5%;
}

.footer .gpt_box {
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-wrap: wrap;
  gap: 5%;
  width: 100%; 
}

.footer .logo,
.footer .links,
.footer .company,
.footer .get_in_touch {
  flex: 1 1 200px;
  margin-bottom: 20px;
}

.footer .box_menu {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.footer .text_1, .footer .text_2, .footer .text_3 {
  font-family: "Manrope", sans-serif;
  color: #ffffff;
  text-align: left;
}

.footer .text_1 {
  font-size: 14px;
}

.footer .text_2 {
  font-size: 12px;
  margin-top: 25px;
}

.footer .text_3 {
  font-size: 12px;
  margin-top: 25px;
}

.footer .bottom_text_box {
  font-family: "ManropeLight", sans-serif;
  color: #ffffff;
  background-color: #040C18;
  font-size: 10px;
  width: 100vw;
  margin-left: 0;
  margin-right: 0; 
  text-align: center;
}



/* стили блога */
.blog {
  width: 100%;
}

.title_content_blog {
  width: 70%;
  margin: 20px; 
  padding: 20px;
  box-sizing: border-box;
  line-height: 1.1;
}

.block_content {
  background: #042C54;
}

.container_content_blog {
  margin-top: 75px;
  display: grid;
  grid-template-columns: 45% 55%;
  margin-bottom: 150px;
  width: 100%;
  gap: 30px;

}

.left_block_content {
  display: flex;
  justify-content: stretch;
  flex-direction: row;
  height: 100%;
}

.block_content {
  display: flex;
  flex-direction: column;
  flex-grow: 1; 
}

.block_text_left, .block_text_right {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
}

.block_text_right h2 {
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.right_block_content  {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 30px;
}

.date, .text_article {
  margin: 0; 
}

.link_arcticle {
  margin-top: auto; 
}

.link_arcticle:hover {
  color: #e7771b;
}

.blog_section__img {
  width: 100%; 
  object-fit: cover;
}

.date {
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
}

h2.text_article {
  background: #fff ;
  -webkit-background-clip: text;
  
}

h1.blog_content {
  width: 60vw; 
  padding: 20px; 
  box-sizing: border-box;
  line-height: 1.1;
}

.footer .footer_header {
  width: 100%;
}

/* перенос текста */
.footer .header_text_box {
  white-space: normal;  
  word-break: break-word; 
  width: 100%; 
  text-align: center;  
}
@media screen and (max-width: 900px) {
  .hero_section {
    flex-direction: column;
  }
  .hero_section .hero_section__left {
    display: flex;
    width: 100%;
  }
  .hero_section .hero_section__right img {
    width: 80%;
    margin-top: 1rem;
    margin-left: 10%;
  }
  .future_here {
    flex-direction: column;
    width: 95%;
  }
  .future_here .future_here__right .right__container .container__content {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 1024px) {
  .page {
    align-content: center;
  }

  .header {
    padding: 2rem;
  }

  .header .header__logo .logo__link img {
    width: 200%;
  }

  .header .header__right {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    row-gap: 53px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    background: #031b34;
  }

  .header .header__menu {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .header .header__menu .menu {
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
  }

  .header .header__menu .menu__close {
    position: absolute;
    right: -100px;
    top: -100px;
  }

  .header .header__menu .menu .menu__item a {
    font-size: 48px;
  }

  .header .header__burger_menu{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 0.5rem;
  }

  .header .header__burger_menu .burger_menu__line{
    background-color: #fff;
    height: 1rem;
    width: 100px;
    border-radius: 1rem;
  }

  .hero_section {
    flex-direction: column;
    justify-content: center;
    column-gap: 0;
    width: 80%;
  }

  .hero_section .hero_section__left {
    width: 100%;
    text-align: center;
  }

  .hero_section .hero_section__right {
    display: flex;
    justify-content: center;
  }

  .hero_section .hero_section__right img {
    width: 60%;
  }

  .hero_section .hero_section__left .left__cta_buttons {
    justify-content: center;
  }

  .what_is_chatgpt_section {
    row-gap: 4rem;
  }

  .what_is_chatgpt_section .what_is_chatgpt_section__middle {
    flex-direction: column;
    row-gap: 1rem;
  }

  .what_is_chatgpt_section .what_is_chatgpt_section__bottom .bottom__container {
    row-gap: 0;
  }

  .future_here {
    column-gap: 0;
    flex-direction: column;
    row-gap: 4rem;
  }

  .future_here .future_here__left {
    row-gap: 1rem;
  }

  .begin_left{
    display: none;
  }
  .begin .begin_right .button_begin{
    display: none; /*kak chze ee po seredine to sdelat'?  */
  }

  .container_content_blog {
    display: flex;
    flex-direction: column;
  }

  .right_block_content {
    display: grid;
    grid-template-columns: 50% auto;
    gap: 1rem;
  }

  .link_arcticle {
    margin-top: 1.5rem;
  }

  .sectionEnd{
    padding-top: 5rem;
  }

}

@media screen and (max-width: 981px){

  .lowContent{
    flex-wrap: wrap;
    gap: 2rem;
  }
}
@media screen and (max-width: 768px) {
  p {
    font-size: 14px;
    line-height: 1.5;
  }
  h1 {
    font-size: 46px;
  }

  h2 {
    font-size: 27px;
  }

  h3 {
    font-size: 19px;
  }

  .hero_section {
    width: 100%;
  }

  .brands_section {
    margin-top: -15px;
    padding-bottom: 0;
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  .what_is_chatgpt_section .what_is_chatgpt_section__top {
    flex-direction: column;
  }

  .hero_section .hero_section__right img {
    width: 85%;
  }

  .what_is_chatgpt_section .what_is_chatgpt_section__middle .middle__header {
    width: auto;
  }

  .what_is_chatgpt_section .what_is_chatgpt_section__bottom {
    flex-direction: column;
  }

  .what_is_chatgpt_section .what_is_chatgpt_section__bottom {
    row-gap: 2rem;
  }

  .what_is_chatgpt_section {
    row-gap: 3rem;
  }

  .what_is_chatgpt_section {
    margin: 6rem 0 0;
  }

  .what_is_chatgpt_section
    .what_is_chatgpt_section__bottom
    .bottom__container
    .container__content {
    line-height: 1.5;
  }


}  
